@import "~@angular/material/theming";

.list-add-file {
    position: fixed;
    top: 90%;
    left: 94%;
}

.csv-header-input {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    opacity: 0.97;
    .mat-form-field {
        width: 80%;
        font-size: 14px;
    }
    @include mat-elevation(8);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    table {
        width: 100%;

        .table-header {
            cursor: pointer;
            display: flex;
            align-items: center;

            i {
                padding-right: 10px;
                font-size: 17px;
            }
        }
    }
}
