<div class="list-add-file">
    <button mat-fab class="material-icons" (click)="inputFile.click()">
        <mat-icon>file_upload</mat-icon>
    </button>
    <input
        class="none"
        #inputFile
        type="file"
        (change)="handleFileInput($event.target.files)"
    />
</div>

<div class="csv-header-input">
    <mat-form-field class="csv-filter-input">
        <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter"
        />
    </mat-form-field>

</div>
<div class="table-container" *ngIf="tableData">
    <table mat-table [dataSource]="tableData?.rows" class="mat-elevation-z8">
        <ng-container
            [matColumnDef]="column"
            *ngFor="let column of tableData?.headers"
        >
            <th mat-header-cell *matHeaderCellDef (click)="sortColumn(column)"><div class="table-header"><i class="material-icons">arrow_downward</i>{{ column }}</div></th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="tableData?.headers; sticky: true " ></tr>
        <tr mat-row *matRowDef="let row; columns: tableData?.headers"></tr>
    </table>
</div>
