@import "~@angular/material/theming";

.list-add-file {
    position: fixed;
    top: 90%;
    left: 94%;
}

.csv-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "nav head"
        "nav main ";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 20% 1fr;


    .csv-list-overview {
        grid-area: nav;
        background-color: lightblue;
        z-index: 1;
        @include mat-elevation(8);
    }

    .csv-header-input {
        grid-area: head;
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightgrey;
        opacity: 0.97;
        .mat-form-field {
            width: 80%;
            font-size: 14px;
        }
    }

    .table-container {
        grid-area: main;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px;
        overflow: auto;

        table {
            width: 100%;

            .table-header {
                cursor: pointer;
                display: flex;
                align-items: center;

                i {
                    padding-right: 10px;
                    font-size: 17px;
                }
            }
        }
    }
}
