@import '~@angular/material/theming';

@mixin apply-app-theme($theme, $themeStr) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);

    .app-header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
        font-size: 30px;
        padding: 19px;
        background-color: mat-color($primary);
        color: mat-color($accent);

        @include mat-elevation(8);

        .app-title {
            @include text-title;
        }
    }

    .app-content {
        position: relative;
        top: 50px;
    }
}
